body {
  margin: 0;
  background-color: #F5F5F5;
}

.page-width {
  margin: 0 60px;
  max-width: 1300px;
  width: 100%;
}

@media (max-width: 1050px) {

  .page-width {
    margin: 0 20px;
  }
}

@media (max-width: 720px) {

  .page-width {
    margin: auto;
    padding: 0 15px 15px;
  }
}